@model IQueryable<ControlTesisCore.Models.BD.EstudiantePerfil>
@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_LayoutEstudiante.cshtml";
}

<div class="text-center">
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <h1 class="display-4">Perfil Estudiante</h1>
        @foreach (var item in Model)
        {
        <ul class="list-group">
        <li class="list-group-item">@item.Nombre @item.Apellido</li>
        <li class="list-group-item">@item.Direccion</li>
        <li class="list-group-item">@item.Correo</li>
        <li class="list-group-item">@item.Telefono</li>
        <li class="list-group-item">
            <a asp-action="ModificarPerfil" asp-controller="Estudiante" class="btn btn-primary" role="button" >Modificar</a>
        </li>
        </ul>
        }
    </div>
</div>